<div class="apply_post_area">
	
	<h2>About</h2>
	<p>
		Ideahuntは、こうゆうサービスがほしい、こんなアプリがあったらいいな。というのを投稿できるプラットフォームです。<br />
		アイディアは実現しなければ意味がなく、それはむしろ、実現したい人の元に行くべきだと考えています。<br />
		世界を変えるアイディア、世界を良くするアイディアがより実現したい人に届けばいい。そんな思い出、このサービスは始まりました。

		アイディアがあるあなた！是非シェアしてみてください！

	</p>

</div>