<% if @posts.any? %>
	<% @posts.each do |post| %>
	    <!-- Example row of columns -->
	    <div class="row">
	      <div class="col-md-8">
	        <h2><%= link_to post.title, post_path(post) %></h2>
	        <p class="content"><%= post.content.truncate(100) %></p>
	      <hr>
	      </div>
	      
	    </div>
		
	<% end %>
<% end %>	    
